<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">Store</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          routerLink="/"
          >Ogłoszenia<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          routerLink="/rent-property"
          >Wynajem</a
        >
      </li>
      <li *ngIf="loggedin()" class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/add-property"
          >Dodaj ogłoszenie</a
        >
      </li>
    </ul>

    <div>
      <ul class="nav navbar-nav">
        <li *ngIf="!loggedin()" class="nav-item">
          <a
            routerLink="/user-register"
            routerLinkActive="active"
            class="nav-link"
            >Rejestracja</a
          >
        </li>
        <li *ngIf="!loggedin()" class="nav-item">
          <a routerLink="/user-login" routerLinkActive="active" class="nav-link"
            >Logowanie</a
          >
        </li>
        <!-- <li *ngIf="loggedin()" class="nav-item">
          <a class="nav-link" (click)="onLogout()">Wyloguj</a>
        </li> -->
        <div *ngIf="loggedin()" class="dropdown mr-2" dropdown>
          <a
            href="#"
            class="dropdown-toggle text-light p-5"
            dropdownToggle
            (click)="(false)"
          >
            Witaj {{ userName }}
          </a>
          <div class="dropdown-menu" *dropdownMenu>
            <a href="#" class="dropdown-item">
              <i class="fas fa-tachometer-alt"></i>
              Przeglądaj ogłoszenia
            </a>
            <a href="#" class="dropdown-item">
              <i class="fas fa-user-circle"></i>
              Mój profil
            </a>
            <a href="#" class="dropdown-item">
              <i class="fas fa-key"></i>
              Zmień hasło
            </a>
            <a (click)="onLogout()" class="dropdown-item">
              <i class="fas fa-sign-out-alt"></i>
              Wyloguj
            </a>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>
