.card:hover img{
  transform: scale(1.1,1.1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 250px;
  opacity: 0.8;
}

.card img{
  transform: scale(1.0,1.0);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 250px;
}

.img-wrapper{
  overflow: hidden;
  position: relative;
}

.card{
  border: 0 !important;
}
.member-icons{
  position: absolute;
  bottom: -10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}

.img-wrapper:hover .member-icons{
  bottom: 0;
  opacity: 1;
}

.animate{
  transition: all 0.3s ease-in-out;
}

.description{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.propPrice{
  color: rgb(151, 21, 16);
  font-weight: 900;
}

.fas, .fab{
  padding-right: 10px;
}

.buybtn{
  margin-top: 40px;
  margin-bottom: -10px;
}

