.card:hover img{
  transform: scale(1.1,1.1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 250px;
  opacity: 0.8;
}

.card img{
  transform: scale(1.0,1.0);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 250px;
}
.card{
  min-height: 450px;
  border: 0 !important;
}

.img-wrapper{
  overflow: hidden;
  position: relative;
}

.member-icons{
  position: absolute;
  bottom: -10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}

.img-wrapper:hover .member-icons{
  bottom: 0;
  opacity: 1;
}

.animate{
  transition: all 0.3s ease-in-out;
}

.card-desc{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.propPrice{
  justify-content: flex-end;
  color: rgb(151, 21, 16);
  font-weight: 900;
}

.buybtn{
  text-overflow: ellipsis;
  margin-bottom: -20%;
  margin-top: 40px;
  width:100%;
}

.propName{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 900;
  font-size: 20px;
}

.blockstyle{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
