<div class="card">
  <div class="img-wrapper">
    <img *ngIf="property.Image" class="card-img-top" src="/assets/image/{{property.Image}}" alt="">
    <img *ngIf="!property.Image" class="card-img-top" src="/assets/image/noimage.png" alt="">

    <ul class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-primary" routerLink='/property-details/{{property.Id}}'><i class="far fa-edit"></i></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary"><i class="far fa-id-card"></i></button>
      </li>
    </ul>
  </div>
    <div class="card-body p-2 description">
      <span class="propPrice"><i class="fas fa-wallet"></i> {{ property.Price }} zł</span>
      <span class="propName"><i class="fas fa-car"></i> {{ property.Name }}</span>
      <span class="propType"><i class="fab fa-audible"></i>{{ property.Type }}</span>
      <button class="btn btn-outline-success buybtn">Kup teraz!</button>
    </div>
</div>
