<div class="row mb-5">
  <div class="col-7">
<div class="card">
    <div class="card-header">
      <p class="mt-1">Uzupełnij wszystkie informacje</p>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #Form="ngForm">
        <div>
          <tabset #formTabs>
            <tab heading="Informacje podstawowe" id="tab1">
              <div class="form-group col-12">
                <div class="btn-group mt-4" btnRadioGroup>
                  <label class="btn btn-outline-primary mr-2" btnRadio=1 role="button" name="SellRent">
                    Sprzedaję
                  </label>
                  <label class="btn btn-outline-primary" btnRadio=2 role="button" name="SellRent">
                    Wypożyczam
                  </label>
                </div>
              </div>
              <div class="form-group col-12 mt-3">
                <label for="name">Marka pojazdu</label>
                <input
                  type="text"
                  class="form-control"
                  #propName="ngModel"
                  ngModel
                  name="Name"
                  required
                  minlength="5"
                  [(ngModel)]="propertyView.Name"
                />
                <span
                  *ngIf="!propName.valid && propName.touched"
                  class="error-block"
                >
                  <span *ngIf="propName.errors.required"
                    >Please provide name</span
                  >
                  <span *ngIf="propName.errors.minlength"
                    >Name must be atleast 5 characters long</span
                  >
                </span>
              </div>
              <div class="form-group col-12">
                <label for="type">Model pojazdu</label>
                <input type="text" class="form-control" ngModel name="Type" />
              </div>
              <div class="form-group col-12">
                <label for="price">Cena</label>
                <input type="text" class="form-control" ngModel name="Price" [(ngModel)]="propertyView.Price" />
              </div>
              <div class="form-group col-12 flexik">
                <label class="mr-3">Rok produkcji</label>
                <input type="text" class="form-control mr-4 col-1">
                <label>Przebieg(km)</label>
                <input type="text" class="form-control ml-3 mr-3">
                <label>Kolor</label>
                <input type="text" class="form-control ml-2 mr-3">
                <label>VIN</label>
                <input type="text" class="form-control ml-2">
              </div>
              <div class="form-group col-12">
                <button
                  type="button"
                  class="btn btn-primary btn-block mt-5"
                  (click)="selectTab(1)"
                >
                  Dalej
                </button>
              </div>
            </tab>
            <tab heading="Informacje dodatkowe">
              <div class="form-group col-12 mt-3">
                <label>Opis</label>
                <textarea type="text" class="form-control" rows="4"></textarea>
              </div>
              <div class="form-group col-3">
                <div>
                  <label class="">Rodzaj paliwa</label>
                  <input type="text" class="form-control mr-3 ">
                </div>
                <div>
                  <label>Typ nadwozia</label>
                <input type="text" class="form-control mr-3">
                </div>
                <div>
                  <label>Skrzynia biegów</label>
                <input type="text" class="form-control mr-3" name="propType" [(ngModel)]="propertyView.Type">
                </div>
                <div>
                  <label>Pojemność</label>
                <input type="text" class="form-control mr-3">
                </div>
                <div>
                  <label>Moc</label>
                <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group col-12">
                <button
                  type="button"
                  class="btn btn-primary btn-block mt-5"
                  (click)="selectTab(2)"
                >
                  Dalej
                </button>
                <button
                  type="button"
                  class="btn btn-primary btn-block mt-2"
                  (click)="selectTab(0)"
                >
                  Wróć
                </button>
              </div>
            </tab>
            <tab heading="Zdjecia">
              <div class="photo-control">
                <button class="mt-5" type="button">Upload</button> <br>
                W budowie
            </div>
              <div class="form-group col-12">
                <button
                  type="button"
                  class="btn btn-primary btn-block mt-5 mb-1"
                  (click)="selectTab(1)"
                >
                  Wróć
                </button>
                <button type="reset" class="btn btn-secondary col-12">Resetuj</button>
                <button type="submit" class="btn btn-primary col-12 mt-1">Dodaj ogłoszenie!</button>
              </div>
            </tab>
          </tabset>
        </div>
      </form>
    </div>
  </div>
  </div>
  <div class="col-5">
    <div class="card-header">
      <h3>Podgląd ogłoszenia</h3>
    </div>
    <div>
      <app-property-card [property]="propertyView"></app-property-card>
    </div>
  </div>
</div>

