<div class="row mb-5">
    <div class="col-7 shadow-lg p-0 bg-white">
        <div class="card">
            <div class="card-header">
                <h3>Uzupełnij wszystkie informacje</h3>
            </div>
            <div class="card-body">
                <form (ngSubmit)="onSubmit()" [formGroup]="addPropertyForm">
                    <div class="tab-panel">
                        <tabset class="member-tabset" #formTabs>
                            <tab heading="Informacje podstawowe">
                                <div class="form-group col-12">
                                    <div class="btn-group mt-4" btnradiogroup formcontrolname="SellRent">
                                        <label class="btn btn-outline-primary mr-2" btnradio="1" tabindex="0" role="button" name="SellRent">
                                            Sprzedaję
                                        </label>
                                        <label class="btn btn-outline-primary" btnradio="2" tabindex="0" role="button" name="SellRent">
                                            Wypożyczam
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-12 mt-3">
                                    <label for="Name">Marka pojazdu</label>
                                    <input type="text" class="form-control" formcontrolname="Name" [(ngModel)]="propertyView.Name"/>
                                </div>
                                <div class="form-group col-12">
                                    <label for="Model">Model pojazdu</label>
                                    <input type="text" class="form-control" formcontrolname="Model" [(ngModel)]="propertyView.Model"/>
                                </div>
                                <div class="form-group col-12">
                                    <label for="Price">Cena</label>
                                    <input type="text" class="form-control" formcontrolname="Price" [(ngModel)]="propertyView.Price"/>
                                </div>
                                <div class="form-group col-12 flexik">
                                    <label class="mr-3">Rok produkcji</label>
                                    <input type="text" class="form-control mr-4" formcontrolname="ProdYear" [(ngModel)]="propertyView.ProdYear"/>
                                    <label>Przebieg(km)</label>
                                    <input type="text" class="form-control ml-3 mr-3" name="Mileage"/>
                                </div>
                                <div class="form-group col-12 flexik">
                                    <label>Kolor</label>
                                    <input type="text" class="form-control ml-2 mr-3"/>
                                    <label>VIN</label>
                                    <input type="text" class="form-control ml-2"/>
                                </div>

                                <div class="form-group col-12">
                                    <button type="button" class="btn btn-primary btn-block mt-5" (click)="selectTab(1)">
                                        Dalej
                                    </button>
                                </div>
                            </tab>
                            <tab heading="Informacje dodatkowe">
                                <div class="form-group col-12 mt-3">
                                    <label>Opis</label>
                                    <textarea type="text" class="form-control" rows="4"></textarea>
                                </div>
                                <div class="form-group col-12">
                                    <div>
                                        <p>Rodzaj paliwa</p>
                                        <div class="btn-group" btnradiogroup formcontrolname="Fuel" [(ngModel)]="propertyView.Fuel">
                                            <label *ngFor="
                                                                          let fuel of ['Benzyna', 'Diesel', 'Elektryczny']
                                                                        " class="btn btn-outline-primary mr-2" [btnRadio]="fuel" tabindex="0" role="button">
                                                {{ fuel }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="mt-2">
                                        <p>Skrzynia biegów</p>
                                        <div class="btn-group" btnradiogroup formcontrolname="PType" [(ngModel)]="propertyView.PType">
                                            <label *ngFor="let ptype of ['Manualna', 'Automatyczna']" class="btn btn-outline-primary mr-2" [btnRadio]="ptype" tabindex="0" role="button">
                                                {{ ptype }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="mt-2">
                                        <p>Typ nadwozia</p>
                                        <div class="btn-group" btnradiogroup formcontrolname="CarBody" [(ngModel)]="propertyView.CarBody">
                                            <label *ngFor="
                                                                          let cbody of [
                                                                            'Sedan',
                                                                            'Kombi',
                                                                            'Hatchback',
                                                                            'Kabriolet',
                                                                            'Coupe'
                                                                          ]
                                                                        " class="btn btn-outline-primary mr-2" [btnRadio]="cbody" tabindex="0" role="button">
                                                {{ cbody }}
                                            </label>
                                        </div>
                                    </div>
                                    <div>
                                        <label>Pojemność(ccm)</label>
                                        <input type="text" class="form-control mr-3" formcontrolname="Capacity" [(ngModel)]="propertyView.Capacity"/>
                                    </div>
                                    <div>
                                        <label>Moc(KM)</label>
                                        <input type="text" class="form-control" formcontrolname="MechPower" [(ngModel)]="propertyView.MechPower"/>
                                    </div>
                                </div>
                                <div class="form-group col-12">
                                    <button type="button" class="btn btn-primary btn-block mt-5" (click)="selectTab(2)">
                                        Dalej
                                    </button>
                                    <button type="button" class="btn btn-primary btn-block mt-2" (click)="selectTab(0)">
                                        Wróć
                                    </button>
                                </div>
                            </tab>
                            <tab heading="Zdjecia">
                                <div class="photo-control">
                                    <button class="mt-5" type="button">Upload</button>
                                    <br/>
                                    W budowie
                                </div>
                                <div class="form-group col-12">
                                    <button type="button" class="btn btn-primary btn-block mt-5 mb-1" (click)="selectTab(1)">
                                        Wróć
                                    </button>
                                    <button type="reset" class="btn btn-secondary col-12">
                                        Resetuj
                                    </button>
                                    <button type="submit" class="btn btn-primary col-12 mt-1">
                                        Dodaj ogłoszenie!
                                    </button>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="card-header">
            <h3>Podgląd ogłoszenia</h3>
        </div>
        <div class="shadow-lg p-3 bg-white">
            <app-property-card [property]="propertyView" [hideIcons]="true"></app-property-card>
        </div>
    </div>
</div>
