<div class="row mb-5">
  <div class="col-7 shadow-lg p-0 bg-white mainView">
    <div class="card">
      <div class="card-header">
        <h3>Uzupełnij wszystkie informacje</h3>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="addPropertyForm">
          <div class="tab-panel">
            <tabset class="member-tabset" #formTabs>
              <tab heading="Informacje podstawowe" formGroupName="BasicInfo">
                <div class="form-group col-12">
                  <div class="btn-group mt-4" btnRadioGroup formControlName="SellRent">
                    <label class="btn btn-outline-primary mr-2" btnRadio="1" tabindex="0" role="button" name="SellRent">
                      Sprzedaję
                    </label>
                    <label class="btn btn-outline-primary" btnRadio="2" tabindex="0" role="button" name="SellRent">
                      Wypożyczam
                    </label>
                  </div>
                  <div class="error-block" *ngIf="SellRent.invalid && isNextClicked">
                    Musisz wybrać typ ogłoszenia dla tego samochodu!
                  </div>
                </div>
                <div class="form-group col-12 mt-3">
                  <label for="Name">Marka pojazdu</label>
                  <input type="text" class="form-control" formControlName="Name" [(ngModel)]="propertyView.Name" />
                  <div class="error-block" *ngIf="Name.invalid && isNextClicked">
                    Musisz podać markę pojazdu!
                  </div>
                </div>
                <div class="form-group col-12">
                  <label for="Model">Model pojazdu</label>
                  <input type="text" class="form-control" formControlName="Model" [(ngModel)]="propertyView.Model"/>
                  <div class="error-block" *ngIf="Model.invalid && isNextClicked">
                    Musisz podać model pojazu!
                  </div>
                </div>
                <div class="form-group col-12">
                  <label for="Price">Cena</label>
                  <input type="text" class="form-control" formControlName="Price" [(ngModel)]="propertyView.Price"/>
                  <div class="error-block" *ngIf="Price.invalid && isNextClicked">
                    Musisz podać cenę!
                  </div>
                </div>
                <div class="form-group col-12 flexik">
                  <div class="flexik col-6" style="margin-left: -3%">
                    <label class="mr-3">Rok produkcji</label>
                  <input type="text" class="form-control mr-4" formControlName="ProdYear"
                    [(ngModel)]="propertyView.ProdYear"/>
                  </div>
                  <div class="flexik col-6" style="margin-right: -30px;">
                    <label>Przebieg(km)</label>
                  <input type="text" class="form-control ml-3 mr-3" formControlName="Mileage"/>
                  </div>
                </div>
                <div class="form-group col-12 flexik">
                  <label>Kolor</label>
                  <input type="text" class="form-control ml-2 mr-3" formControlName="Color"/>
                  <label>VIN</label>
                  <input type="text" class="form-control ml-2"  formControlName="VIN"/>
                </div>

                <div class="form-group col-12">
                  <button type="button" class="btn btn-primary btn-block mt-5" (click)="selectTab(1, BasicInfo.valid)">
                    Dalej
                  </button>
                </div>
              </tab>
              <tab heading="Informacje dodatkowe" formGroupName="DetailsInfo">
                <div class="form-group col-12 mt-3">
                  <label>Opis</label>
                  <textarea type="text" class="form-control" rows="4" formControlName="Description"></textarea>
                </div>
                <div class="form-group col-12">
                  <div>
                    <p>Rodzaj paliwa</p>
                    <div class="btn-group" btnRadioGroup formControlName="Fuel" [(ngModel)]="propertyView.Fuel">
                      <label *ngFor="
                          let fuel of ['Benzyna', 'Diesel', 'Elektryczny']
                        " class="btn btn-outline-primary mr-2" [btnRadio]="fuel" tabindex="0" role="button">
                        {{ fuel }}
                      </label>
                    </div>
                  </div>
                  <div class="mt-2">
                    <p>Skrzynia biegów</p>
                    <div class="btn-group" btnRadioGroup formControlName="Transmission" [(ngModel)]="propertyView.Transmission">
                      <label *ngFor="let ptype of ['Manualna', 'Automatyczna']" class="btn btn-outline-primary mr-2"
                        [btnRadio]="ptype" tabindex="0" role="button">
                        {{ ptype }}
                      </label>
                    </div>
                  </div>
                  <div class="mt-2">
                    <p>Typ nadwozia</p>
                    <div class="btn-group" btnRadioGroup formControlName="CarBody" [(ngModel)]="propertyView.CarBody">
                      <label *ngFor="
                          let cbody of [
                            'Sedan',
                            'Kombi',
                            'Hatchback',
                            'Kabriolet',
                            'Coupe'
                          ]
                        " class="btn btn-outline-primary mr-2" [btnRadio]="cbody" tabindex="0" role="button">
                        {{ cbody }}
                      </label>
                    </div>
                  </div>
                  <div>
                    <label>Pojemność(ccm)</label>
                    <input type="text" class="form-control mr-3" formControlName="Capacity"
                      [(ngModel)]="propertyView.Capacity"/>
                  </div>
                  <div>
                    <label>Moc(KM)</label>
                    <input type="text" class="form-control" formControlName="MechPower"
                      [(ngModel)]="propertyView.MechPower"/>
                  </div>
                </div>
                <div class="form-group col-12">
                  <button type="button" class="btn btn-primary btn-block mt-5" (click)="selectTab(2, DetailsInfo.valid)">
                    Dalej
                  </button>
                  <button type="button" class="btn btn-primary btn-block mt-2" (click)="selectTab(0, true)">
                    Wróć
                  </button>
                </div>
              </tab>
              <tab heading="Zdjecia" >
                <div class="photo-control">
                  <button class="mt-5" type="button">Upload</button> <br />
                  W budowie
                </div>
                <div class="form-group col-12">
                  <button type="button" class="btn btn-primary btn-block mt-5 mb-1" (click)="selectTab(1,  true)">
                    Wróć
                  </button>
                  <button type="reset" class="btn btn-secondary col-12" (click)="selectTab(0, true)">
                    Resetuj
                  </button>
                  <button type="submit" class="btn btn-primary col-12 mt-1">
                    Dodaj ogłoszenie!
                  </button>
                </div>
              </tab>
            </tabset>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-5 prevView">
    <div class="card-header">
      <h3>Podgląd ogłoszenia</h3>
    </div>
    <div class="shadow-lg p-3 bg-white">
      <app-property-card [property]="propertyView" [hideIcons]="true"></app-property-card>
    </div>
  </div>
</div>
